
/* второй блок */
.cont_2 {
	grid-row: 3/4;
	grid-column: 1/4;
	background-image: url(../images/fon-2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	display: grid;	
	grid-template-rows: 1fr;
	grid-template-columns: 10% 1fr 1fr 10%;
	grid-gap: 0;
}
h3 {
	font-size: 24px;
	font-family: "Alegreya";
	color: rgb(86, 83, 76);
	font-weight: bold;
	padding-top: 15px;
}


/* Cубконтейнер с 4-я фото и текстом */
.l_panel {
	grid-row: 1/2;
	grid-column: 2/3;
}
.r_panel {
	grid-row: 1/2;
	grid-column: 3/4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	position: relative;
}

.pan1 {
	grid-row: 1/2;
	grid-column: 1/2;
}
.pan2 {
	grid-row: 1/2;
	grid-column: 2/3;
}
.pan3 {
	grid-row: 2/3;
	grid-column: 1/2;
}
.pan4 {
	grid-row: 2/3;
	grid-column: 2/3;
}

.romashka {
	position: absolute;
	left: 50%;
	top: 51%;
	margin-right: -50%;
    transform: translate(-50%, -50%); 
	opacity: 0.9;
}
.romashka p {
	position: absolute;
	top: 20%;
	left: 25%;
	font-size: 1.9em;
	font-family: "Alegreya", sans-serif;
	color: #1f1f1f;
}

.text-2 {
	display: flex;
	justify-content: center;
}

.text-2 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.podtext {
	font-size: 24px;
	font-family: "Scriptina";
	color: rgb(164, 125, 94);
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 1.3;
}
.kavichki {
	font-size: 60px;
	font-family: "Times New Roman";
	color: rgba(86, 83, 76, 0.502);
	margin: 0;
	padding: 0;
}
.text-2 p {
	display: flex;
}
.lll {
	align-items: flex-start;
	margin-right: 40px;
}
.rrr {
		align-items: flex-end;
		margin-left: 20px;
}
p.abzac {
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	color: rgb(86, 83, 76);
	line-height: 1.714;
	padding-top: 25px;
}
.povar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.povar_l,.povar_r{
	border-bottom: 1px solid rgba(86, 83, 76, 0.5);
	border-top: 1px solid rgba(86, 83, 76, 0.5);
	margin: 0 35px;
	padding: 10px 20px;
}
.ko-r {
	padding: 10px 0;
}
p.benito {
	font-size: 24px;
	font-family: "Alegreya";
	color: rgb(86, 83, 76);
	margin: 4px 8px;
}

.avatar {
	width: 110px;
	height: 110px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 3px 3px 5px rgba(0,0,0,.05);
}

.foto {
	padding: 6px 0 0 2px;
}
.l_panel {
	align-self: center;
}
.pan1,.pan2,.pan3,.pan4 {
	display: flex;
}
.pan1,.pan2 {
	align-items: flex-end;
}
.pan3,.pan4 {
	align-items: flex-start;
}
.pan1,.pan3 {
	justify-content: flex-end;
}
.pan2,.pan4 {
	justify-content: flex-start;
}