
/* второй блок */
.cont_2 {
	display: grid;
	grid-template-areas:
	"bl-1 bl-2 bl-3";
	grid-template-rows: 1fr;
	grid-template-columns: 10% 1fr 10%;
	text-align: center;
	grid-gap: 0;
}
h3 {
	font-size: 24px;
	font-family: "Alegreya";
	color: rgb(86, 83, 76);
	font-weight: bold;
	padding-top: 15px;
}
.cont_2 {
	background-image: url(../images/fon-2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 98vh;
}
.blok_1 {
	grid-area: bl-1;
	vertical-align: bottom;
}
.blok_2 {
	grid-area: bl-2;
	align-self: center;
}
.blok_3 {
	grid-area: bl-3;
}
a {
	text-decoration: none;
	color: #fff;
	outline: none;
}
.blok_2 {
	display: flex;
	margin: 0;
}

/* Cубконтейнер с 4-я фото и текстом */
.r_panel {
	display: grid;
	grid-template-areas:
	/*
	". ."
	*/
	"p1 p2"
	"p3 p4";
	/*
	". .";
	*/
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-gap: 15px;
	position: relative;
	width: 50%;
}
.l_panel {
	text-align: center;
	width: 50%;
}
.pan1 {
	grid-area: p1;
}
.pan2 {
	grid-area: p2;
}
.pan3 {
	grid-area: p3;
}
.pan4 {
	grid-area: p4;
}
.romashka {
	position: absolute;
	right: 28%;
	top: 32%;
	opacity: 0.9;
}
.romashka p {
	position: absolute;
	top: 20%;
	left: 25%;
	font-size: 1.9em;
	font-family: "Alegreya", sans-serif;
	color: #1f1f1f;
}

.text-2 {
	display: flex;
	justify-content: center;
}

.text-2 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.podtext {
	font-size: 24px;
	font-family: "Scriptina";
	color: rgb(164, 125, 94);
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 1.3;
}
.kavichki {
	font-size: 60px;
	font-family: "Times New Roman";
	color: rgba(86, 83, 76, 0.502);
	margin: 0;
	padding: 0;
}
.text-2 p {
	display: flex;
}
.lll {
	align-items: flex-start;
	margin-right: 40px;
}
.rrr {
		align-items: flex-end;
		margin-left: 20px;
}
p.abzac {
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	color: rgb(86, 83, 76);
	line-height: 1.714;
	padding-top: 25px;
}
.povar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.povar_l,.povar_r{
	border-bottom: 1px solid rgba(86, 83, 76, 0.5);
	border-top: 1px solid rgba(86, 83, 76, 0.5);
	margin: 0 35px;
	padding: 10px 20px;
}
.ko-r {
	padding: 10px 0;
}
p.benito {
	font-size: 24px;
	font-family: "Alegreya";
	color: rgb(86, 83, 76);
	margin: 4px 8px;
}

.avatar {
	width: 110px;
	height: 110px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 3px 3px 5px rgba(0,0,0,.05);
}

.foto {
	padding: 6px 0 0 2px;
}
.l_panel {
	align-self: center;
}
.pan1,.pan2,.pan3,.pan4 {
	display: flex;
}
.pan1,.pan2 {
	align-items: flex-end;
}
.pan3,.pan4 {
	align-items: flex-start;
}
.pan1,.pan3 {
	justify-content: flex-end;
}
.pan2,.pan4 {
	justify-content: flex-start;
}