
@import url(../css/block_1.css);
@import url(../css/block_2.css);
/*
@import url(../css/block_3.css);
@import url(../css/block_4.css);
@import url(../css/block_5.css);
*/

:root {
	--kory:#a47d5e;
}
html {
	width: 1616px;
	margin: 0 auto;
	padding: 0;
}

.main_grid {
	display: grid;
	grid-template: repeat(5, 1fr) / 10% 1fr 10%;
}


a {
	text-decoration: none;
	color: #fff;
	outline: none;
	transition: 0.3s;
}




.footer {
	background-image: url(../images/fon-5.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.l_panel {
	position: relative;
}

.pan1 img,.pan2 img,
.pan3 img,.pan4 img {
	outline: 5px solid #fff;
	outline-offset: -12px;
}

.slaid {
	display: grid;
		grid-template-areas:
	"sr1"
	"sr2"
	"sr3"
	"sr4";
	grid-template-rows: 1fr 0.5fr 1fr 1.5fr;
}
.srow1 {
	grid-area: sr1;
}
.srow2 {
	grid-area: sr2;
}
.srow3 {
	grid-area: sr3;
}
.krugi {
	grid-area: sr4;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.mins {
	position: absolute;
	display: flex;
	right: 0;
	top: 13%;
	box-shadow: -10px 10px 37px 2px #d3d3d3;
	justify-content: center;
}
.ready {
	position: absolute;
	text-align: center;
}
.srow1 h2 {
	padding-top: 10%;
	padding-left: 90px;
}
.srow3 p {
	padding-left: 90px;
	font-size: 14px;
	font-family: "Proxima Nova";
	color: rgb(86, 83, 76);
	line-height: 1.714;
	letter-spacing: 2px;
	font-weight: 500;
}
.srow2 p {
	padding-left: 92px;
	padding-top: 0;
	margin-top: 0;
	font-size: 14px;
	font-family: "Alegreya";
	color:#a47d5e;
	font-weight: bold;
	letter-spacing: 1px;
}
.mr1 {
	margin: 28px 0 0 0;
	font-size: 18px;
	font-family: "Alegreya";
	color: #a47d5e;
	font-weight: bold;
}
.mr2 {
	margin: 0;
	font-size: 92px;
	font-family: "Alegreya";
	color: #dfc691;
	font-weight: bold;
	letter-spacing: 10px;
	line-height: 110px;
}
.mr3 {
	font-size: 18px;
	font-family: "Alegreya";
	color: #979285;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0;
	line-height: 0;
}
.prev,.next {
	margin-top: 20px;
	padding-top: 70px;
	color: #000;
	font-size: 2.5em;
}


@font-face {
	font-family: "Alegreya";
	src: url(../font/Alegreya/Alegreya.ttf) format("truetype");
	font-style: normal; 
	font-weight: normal;
}
@font-face {
	font-family: "Playfair Display";
	src: url(../font/Playfair_Display/PlayfairDisplay.ttf) format("truetype");
	font-style: normal; 
	font-weight: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url(../font/Proxima_Nova/proximanova_regular.ttf) format("truetype");
	font-style: normal; 
	font-weight: normal;
}
@font-face {
	font-family: "Scriptina";
	src: url(../font/Scriptina/SCRIPTIN.ttf) format("truetype");
	font-style: normal; 
	font-weight: normal;
}
