@font-face {
	font-family: "Alegreya";
	src: url(/font/Alegreya/Alegreya.ttf);
}
@font-face {
	font-family: "PlayfairDisplay";
	src: url(/font/Playfair/PlayfairDisplay.ttf);
}
@font-face {
	font-family: "ProximaNova";
	src: url(/font/Proxima/proximanova_regular.ttf);
}
@font-face {
	font-family: "Scriptina";
	src: url(/font/Scriptina/SCRIPTIN.ttf);
}

:root {
	--kory:#a47d5e;
}

body {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0;
}

/* первый блок */
.cont_1 {
	display: grid;
	grid-template-areas:
	"nv hd ban"
	"nv os ban";
	grid-template-rows: 70px 1fr;
	grid-template-columns: 10% 1fr 10%;
	text-align: center;
}
.hhed {
	background-color: rgba(86, 83, 76, 0.529);
	height: 70px;
}
.header {
	grid-area: hd;
	background-color: rgba(86, 83, 76, 0.529);
}
.nav {
	grid-area: nv;
}
.osnov {
	grid-area: os;
}
.baner {
	grid-area: ban;
}
.cont_1 {
	background-image: url(../images/fon-1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	color: #fff;
	font-family: "Alegreya", sans-serif;
}
.osnov {
	height: 89vh;
	background: radial-gradient(ellipse 45% 30%, rgba(108, 103, 98, 0.7) 0%, rgba(50,50,50,0));
}
.rr1,.rr2,.rr3,.rr4 {
	z-index: 2;
}
.osnov {
	display: grid;
	grid-template-areas:
	"."
	"ro1"
	"ro2"
	"ro3"
	"ro4"
	".";
	grid-template-rows:20% 20% 10% 15% 20% 5%;
	grid-gap: 4px;
	text-align: center;
}
.rr1 {
	grid-area: ro1;
}
.rr2 {
	grid-area: ro2;
}
.rr3 {
	grid-area: ro3;
}
.rr4 {
	grid-area: ro4;
}
.rr1 {
	padding-top: 65px;
}

a.zag-4 {
	display: inline-block;
	position: relative;
	text-decoration: none;
	border-width: 1px;
	border-color: rgb(158, 156, 147);
	border-style: dashed;
	background-color:rgba(86, 83, 76, 0.529);
	color: #fff;
	padding: 2px 50px 2px 50px;
}
.our {
	font-family: "Alegreya";
	letter-spacing: 5px;
	font-weight:bold;
	font-size: 14px;
}
.zag-3 {
	font-family: "ProximaNova", sans-serif;
	letter-spacing: 3px;
	font-size: 24px;
	font-weight: 300;
	padding-left: 25px;
	text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.004);
}

.social {
	display: flex;
	align-items: center;
}

/* меню с логотипом и соц сети */
.header {
	display: flex;
	justify-content: space-between;
}

p.lg {
	color: #fff;
	font-family: "Scriptina", sans-serif;
	font-size: 30px;
	margin: 0;
	margin-top: -15px;
	letter-spacing: 10px;
	padding-right: 10px;
}
.lg-1 {
	color: #fff;
	font-family: "Alegreya", sans-serif;
	font-size: 14px;
	letter-spacing: 5px;
}
.header div p.lg-1 {
	margin-top: 25px;
}

.lg-1 a:hover {
 color: red;
}

.centr {
	width: 60%;
	padding-right: 36px;
	display: flex;
	justify-content: space-between;
}
h1.zh {
	font-size: 92px;
	letter-spacing: 7px;
	font-family: "PlayfairDisplay", sans-serif;
	margin: 0;
	font-weight: bold;
	line-height: 0.261;
	text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.9);
}

h2 {
	font-family: "Alegreya", sans-serif;
	font-size: 48px;
	color: rgb(86, 83, 76);
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0;
}
h4 {
	font-family: "Alegreya";
	margin-top: 2px;
	margin-bottom: 30px;
	font-size: 14px;
	color: var(--kory);
	font-weight: bold;
	letter-spacing: 1.5px;
}
h5 {
	margin: 0;
	padding: 0;
	font-family: "Alegreya", sans-serif;
	font-size: 2.3em;
	color: var(--kory);
}
.eda {
	margin: 0;
}

.bulka {
	position: absolute;
	left: 48%;
	top: 880px;
}
.bylka {
	position: absolute;
	left: 26%;
	top: 26%;
}
/* второй блок */
.cont_2 {
	display: grid;
	grid-template-areas:
	"bl-1 bl-2 bl-3";
	grid-template-rows: 1fr;
	grid-template-columns: 10% 1fr 10%;
	text-align: center;
	grid-gap: 0;
}
h3 {
	font-size: 24px;
	font-family: "Alegreya";
	color: rgb(86, 83, 76);
	font-weight: bold;
	padding-top: 15px;
}
.cont_2 {
	background-image: url(../images/fon-2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 98vh;
}
.blok_1 {
	grid-area: bl-1;
	vertical-align: bottom;
}
.blok_2 {
	grid-area: bl-2;
	align-self: center;
}
.blok_3 {
	grid-area: bl-3;
}
a {
	text-decoration: none;
	color: #fff;
	outline: none;
}
.blok_2 {
	display: flex;
	margin: 0;
}
/* Cубконтейнер с 4-я фото и текстом */
.r_panel {
	display: grid;
	grid-template-areas:
	/*
	". ."
	*/
	"p1 p2"
	"p3 p4";
	/*
	". .";
	*/
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-gap: 15px;
	position: relative;
	width: 50%;
}
.l_panel {
	text-align: center;
	width: 50%;
}
.pan1 {
	grid-area: p1;
}
.pan2 {
	grid-area: p2;
}
.pan3 {
	grid-area: p3;
}
.pan4 {
	grid-area: p4;
}
.romashka {
	position: absolute;
	right: 28%;
	top: 32%;
	opacity: 0.9;
}
.romashka p {
	position: absolute;
	top: 20%;
	left: 25%;
	font-size: 1.9em;
	font-family: "Alegreya", sans-serif;
	color: #1f1f1f;
}
.circle {
	width: 80px;
	height: 80px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 11px;
	left: 1px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.05);
}
.kaima {
	position: absolute;
	top: -2px;
	left: -12px;
}
.bylka {
	position: absolute;
	top: 28px;
	left: 16px;
}
.text-2 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.podtext {
	font-size: 24px;
	font-family: "Scriptina";
	color: rgb(164, 125, 94);
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1.3;
}
.kavichki {
	font-size: 60px;
	font-family: "Times New Roman";
	color: rgba(86, 83, 76, 0.502);
	margin: 0;
	padding: 0;
}
.text-2 p {
	display: flex;
}
.lll {
	align-items: flex-start;
	margin-right: 40px;
}
.rrr {
		align-items: flex-end;
		margin-left: 20px;
}
p.abzac {
	font-family: "ProximaNova";
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	color: rgb(86, 83, 76);
	line-height: 1.714;
	padding-top: 25px;
}
.povar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.povar_l,.povar_r{
	border-bottom: 1px solid rgba(86, 83, 76, 0.5);
	border-top: 1px solid rgba(86, 83, 76, 0.5);
	margin: 0 35px;
	padding: 10px 20px;
}
.ko-r {
	padding: 10px 0;
}
p.benito {
	font-size: 24px;
	font-family: "Alegreya";
	color: rgb(86, 83, 76);
	margin: 4px 8px;
}

.avatar {
	width: 110px;
	height: 110px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 3px 3px 5px rgba(0,0,0,.05);
}

.foto {
	padding: 6px 0 0 2px;
}
.l_panel {
	align-self: center;
}
.pan1,.pan2,.pan3,.pan4 {
	display: flex;
}
.pan1,.pan2 {
	align-items: flex-end;
}
.pan3,.pan4 {
	align-items: flex-start;
}
.pan1,.pan3 {
	justify-content: flex-end;
}
.pan2,.pan4 {
	justify-content: flex-start;
}

/* третий блок */
.cont_3 {
	display: grid;
	grid-template-areas:
	"bl-4 bl-5 bl-6";
	grid-template-rows: 1fr;
	grid-template-columns: 10% 1fr 10%;
}
.cont_3 {
	background-image: url(../images/fon-3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 81vh;
}

.blok_4 {
	grid-area: bl-4;
}
.blok_5 {
	grid-area: bl-5;
	display: flex;
	align-items: center;
	position: relative;
}
.blok_6 {
	grid-area: bl-6;
}
.slaid {
	width: 60%;
	height: 510px;
	margin-right: 100px;
	margin-top: -4px;
	background-color: #fff;
}

/* четвертый блок */
.cont_4 {
	display: grid;
	grid-template-areas:
	"bl-7 bl-8 bl-9";
	grid-template-rows: 1fr;
	grid-template-columns: 10% 1fr 10%;
	text-align: center;
}
.cont_4 {
	background-image: url(../images/fon-4.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 81vh;
}
.blok7 {
	grid-area: bl-7;
}
.blok_8 {
	grid-area: bl-8;
	display: flex;
}
.blok_9 {
	grid-area: bl-9;
}
.panel-l {
	display: grid;
	grid-template-areas:
	"." "l-1" "l-2" "l-3" "l-4" "l-5" "l-6" "l-7" ".";
	grid-template-rows: auto repit(7, 1fr) auto;
}
.pan_l-1 {
	grid-area: l-1;
}
.pan_l-2 {
	grid-area: l-2;
}
.pan_l-3 {
	grid-area: l-3;
}
.pan_l-4 {
	grid-area: l-4;
}
.pan_l-5 {
	grid-area: l-5;
}
.pan_l-6 {
	grid-area: l-6;
}
.pan_l-7 {
	grid-area: l-7;
}

/* пятый блок */
.cont_5 {
	display: grid;
	grid-template-areas:
	"bl-10 bl-11 bl-12"
	"fu fu fu";
	grid-template-rows: 1fr;
	grid-template-columns: 10% 1fr 10%;
	text-align: center;
}
.cont_5 {
	background-image: url(../images/fon-5.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 98vh;
}
.blok_10 {
	grid-area: bl-10;
}
.blok_11 {
	grid-area: bl-11;
}
.blok_12 {
	grid-area: bl-12;
}
.footer {
	grid-area: fu;
}
.blok_11 {
	display: grid;
	grid-template-areas:
	". ri1"
	"le1 ri2"
	"le2 ri3"
	"le3 ri3"
	"le4 ri3"
	"le5 ri3"
	"le6 ri3"
	". .";
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 139px 139px 139px 139px 1fr 1fr;
}
.l_c5_p1 {
	grid-area: le1;
}
.l_c5_p2 {
	grid-area: le2;
}
.l_c5_p3 {
	grid-area: le3;
}
.l_c5_p4 {
	grid-area: le4;
}
.l_c5_p5 {
	grid-area: le5;
}
.l_c5_p6 {
	grid-area: le6;
}
.r_c5_p1 {
	grid-area: ri1;
}
.r_c5_p2 {
	grid-area: ri2;
}
.r_c5_p3 {
	grid-area: ri3;
}

.footer {
	background-image: url(../images/foter.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.l_panel {
	position: relative;
}

.twit,.face,.inst {
	margin-left: 25px;
}

.pan1 img,.pan2 img,
.pan3 img,.pan4 img {
	outline: 5px solid #fff;
	outline-offset: -12px;
}

.slaid {
	display: grid;
		grid-template-areas:
	"sr1"
	"sr2"
	"sr3"
	"sr4";
	grid-template-rows: 1fr 0.5fr 1fr 1.5fr;
}
.srow1 {
	grid-area: sr1;
}
.srow2 {
	grid-area: sr2;
}
.srow3 {
	grid-area: sr3;
}
.krugi {
	grid-area: sr4;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.mins {
	position: absolute;
	display: flex;
	right: 0;
	top: 13%;
	box-shadow: -10px 10px 37px 2px #d3d3d3;
	justify-content: center;
}
.ready {
	position: absolute;
	text-align: center;
}
.srow1 h2 {
	padding-top: 10%;
	padding-left: 90px;
}
.srow3 p {
	padding-left: 90px;
	font-size: 14px;
	font-family: "ProximaNova";
	color: rgb(86, 83, 76);
	line-height: 1.714;
	letter-spacing: 2px;
	font-weight: 500;
}
.srow2 p {
	padding-left: 92px;
	padding-top: 0;
	margin-top: 0;
	font-size: 14px;
	font-family: "Alegreya";
	color:#a47d5e;
	font-weight: bold;
	letter-spacing: 1px;
}
.mr1 {
	margin: 28px 0 0 0;
	font-size: 18px;
	font-family: "Alegreya";
	color: #a47d5e;
	font-weight: bold;
}
.mr2 {
	margin: 0;
	font-size: 92px;
	font-family: "Alegreya";
	color: #dfc691;
	font-weight: bold;
	letter-spacing: 10px;
	line-height: 110px;
}
.mr3 {
	font-size: 18px;
	font-family: "Alegreya";
	color: #979285;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0;
	line-height: 0;
}
.prev,.next {
	margin-top: 20px;
	padding-top: 70px;
	color: #000;
	font-size: 2.5em;
}